{% extends "layout.html" %}

{% block title %}
    Edit Board
{% endblock %}

{% block main %}


    <div id="edit-board" class="page-start">

        <form action="{{ url_for('edit-board/{{ id }}') }}">
          <fieldset>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="title" placeholder="Board Title" type="text" value="{{ board }}"/>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="col-1" placeholder="Column 1 Title" type="text" value="{{ titles[0] }}"/>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="col-2" placeholder="Column 2 Title" type="text" value="{{ titles[1] }}"/>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="col-3" placeholder="Column 3 Title" type="text" value="{{ titles[2] }}"/>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-4">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="col-4" placeholder="Column 4 Title" type="text" value="{{ titles[3] }}"/>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group">
                        <button class="btn btn-default" type="submit">Save</button>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6"></div>
            </div>
            <div class="row">
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-4"></div>
                <div class="col-xs-8 col-sm-6 col-md-4 col-lg-2">
                    <div class="form-group">
                        <button class="btn btn-default" type="reset">Cancel</button>
                    </div>
                </div>
                <div class="col-xs-2 col-sm-3 col-md-4 col-lg-6"></div>
            </div>
            
        </div>
    </fieldset>
    </form>
    

    
    
    </div>
    

{% endblock %}