{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <div id="boards-list" class="table-responsive page-start">

        <table class="table table-striped table-hover" style="width:100%">
            <tr>
                <th>Your Cards</th>
                <th>Description</th>
                <th>Color</th>
                <th>Type</th>
                <th>Hours</th>
                <th>Recurring</th>
                <th>Edit</th>
                <th>Remove</th>
            </tr>
            
            {% for card in cards %}
            
            <tr>
                <td>{{ card.name }}</td>
                <td>{{ card.description }}</td>
                <td>{{ card.color }}</td>
                <td>{{ card.type }}</td>
                <td>{{ card.hours }}</td>
                <td>{{ card.recurring }}</td>
                <td><span id="" class="glyphicon glyphicon-edit"></span></td>
                <td><span id="" class="glyphicon glyphicon-remove"></span></td>
            </tr>
            
            {% endfor %}
            
                    </table>
    
    </div>
    

            
            
{% endblock %}